<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contacto</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/contacto.css">
    <%- include('./plantilla/head'); %>
</head>
<body>
    <div>
        <%- include('./plantilla/header'); %>
        <h1><%= title %></h1>
        <div class="contact-container">
            <section>
                <div class="contact-info">
                    <h2>Atención al cliente</h2>
                    <p><strong>Teléfono:</strong> 722878152</p>
                    <p><strong>Email:</strong> info@clossclothing.com</p>
                </div>
                
                <div class="quienes-somos">
                    <h2>¿Quiénes somos?</h2>
                    <p>Closs Clothing es una tienda de ropa que se especializa en ofrecer una amplia selección de </br>
                         prendas de moda. Nos esforzamos por brindar productos de alta calidad, diseñados con estilo y comodidad.</p>
                    <p>Nuestro objetivo es ayudar a nuestros clientes a expresar su individualidad a través de la moda, ofreciendo una variedad de estilos y tendencias actuales.
                         En Closs Clothing, creemos que la ropa no solo es una necesidad básica, sino también una forma de arte y </br>autoexpresión.</p>
                    <p>¡Visítanos en nuestra tienda física o explora nuestro catálogo en línea para descubrir las últimas tendencias en moda y encontrar la ropa perfecta para ti!</p>
                </div>
            </section>

            <div class="map-container">
                <h2>Ubicación</h2>
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.342242496472!2d-3.7047613247449074!3d40.423420005233254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422887f121021b%3A0x48546915a2e8dbef!2sPolemo%20Shop!5e0!3m2!1ses!2ses!4v1684444548746!5m2!1ses!2ses" width="650" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>

        <%- include('./plantilla/footer'); %>
    </div>
</body>
</html>