<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inicio</title>
  <%- include('./plantilla/head'); %>
</head>
<body>
  <div>
    <%- include('./plantilla/header'); %>
    <main>
        <h1>Bienvenido a Closs Clothing, una tienda con variedad y para todos.</h1>
        <h1>Productos Destacados</h1>
        <div class="box" style="width: 18rem;">
          <img src="images/productos/Vans1.jpg" class="card-img-top" alt="Camiseta Vans">
          <div class="box-body">
            <h5 class="box-title">Camiseta Vans</h5>
            <p class="box-text">Camiseta negra con estampado</p>
            <a href="·" class="btn btn-primary">Comprar</a>
          </div>
        </div>
    </main>
    <%- include('./plantilla/footer'); %>
  </div>
</body>
</html>
