<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/registro.css">
    
    <script>
      // Función para ocultar el mensaje de error después de 1 segundo
      function hideErrorMessage() {
        var errorMessage = document.getElementById("error-message");
        if (errorMessage) {
          setTimeout(function() {
            errorMessage.style.display = "none";
          }, 1000);
        }
      }
    </script>
</head>
<body onload="hideErrorMessage()">
    <form method="post" action="/registro" class="form-login">
        <h4>Registro</h4>
        <% if (error) { %>
          <p id="error-message" class="error-message"><%= error %></p>
        <% } %>
        <input class="controls" type="text" name="nombre" value="" placeholder="Nombre">
        <input class="controls" type="text" name="correo" value="" placeholder="Correo Electronico/Usuario">
        <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
        <input class="buttons" type="submit" name="" value="Registrarse">
        <p>¿Ya tienes una cuenta? <a href="login">Iniciar sesión</a></p>
    </form>
</body>
</html>