/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

h2 {
  color: #333;
}

p {
  line-height: 1.5;
  color: #666;
  text-align: justify;
}

/* Estilos para la sección de contacto */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  margin-right: 10px;
}

.map-container {
  flex: 1;
  margin-left: 20px;
}

.map-container h2 {
  margin-bottom: 10px;
}

.section-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info,
.quienes-somos {
  margin-bottom: 20px;
  margin-left: 15px;
}

.contact-info h2,
.quienes-somos h2 {
  margin-bottom: 10px;
}
